<h1 class='display-4 text-center'>Update your book information</h1>

<%= render 'books/form', books: @books %>
</br>
<div class='text-center'>
  <%= link_to 'Back to main', root_path, class:"btn btn-secondary" %>
</div>