<h1 class='text-center display-5'><strong>New book on the shelf?</strong></h1>

<%= render 'books/form', books: @books %>
</br>
<div class='text-center'>
  <%= link_to "Back to main", root_path, class:"btn btn-secondary "%>
</div>